.content {
  &__title {
    color: $white;
    margin: 9px 0 29px;
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}


[class*="page__title"] {
  line-height: 1.2;
  margin: 0 0 30px;
  color: $white;
  text-transform: uppercase;

  &[class*="bold"] {
    font-weight: 700;
  }

  &[class*="center"] {
    text-align: center;
  }
}

.page__subtitle {
  margin: 0 0 20px;
  color: #8590A1;
  font-size: 1.25rem;

  @include media-breakpoint-up(md) {
    margin: 0 0 50px;
  }
}
