:root {
}

.page {
  &-header {
    position: relative;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 38px;

    @include media-breakpoint-up(md){
      padding: 35px 0;
    }

    @include media-breakpoint-up(lg){
      padding: 50px 0;
    }

    .collapsible {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        backdrop-filter: blur(10px);
        background-color: rgba($black, .5);
        z-index: 200;
        padding-top: 91px;
        pointer-events: none;
        opacity: 0;
        will-change: opacity;
        transition: .3s opacity ease-in-out;
      }
    }

    .navigation.active .collapsible{
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-title {
    margin: 0;
    line-height: 1;
    font-weight: 600;
  }
}
