.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  position: relative;
  padding: 0 60px;

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  &__brand {
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      margin: 0 auto 0 0;
    }
  }

  &.active &__menu li {
    a {
      opacity: 1;
      transform: translate(0);
    }

    &:nth-child(1) a {
      transition: .2s color ease-in-out, .2s opacity .2s ease-in-out, .2s transform .2s ease-in-out;
    }

    &:nth-child(2) a {
      transition: .2s color ease-in-out, .2s opacity .3s ease-in-out, .2s transform .3s ease-in-out;
    }

    &:nth-child(3) a {
      transition: .2s color ease-in-out, .2s opacity .4s ease-in-out, .2s transform .4s ease-in-out;
    }
  }

  &__menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    li {
      display: block;

      a {
        line-height: 3.5em;
        display: block;
        padding: 0 15px;
        text-transform: uppercase;
        color: $white;
        font-size: 1.5rem;
        opacity: 0;
        transform: translate(0, -15px);
        will-change: color, opacity, transform;
        transition: .2s color ease-in-out, .2s opacity ease-in-out, .2s transform ease-in-out;

        @include media-breakpoint-up(md) {
          opacity: 1;
          transform: translate(0);
          padding: 0 25px;
          font-size: .875rem;
        }

        @include media-breakpoint-up(lg) {
          padding: 0 50px;
        }

        &:hover {
          color: $primary;
        }
      }

      &.active a {
        color: $primary;
      }
    }
  }

  a {
    text-decoration: none;
  }

  &__controls {
    max-width: 180px;
    position: absolute;
    right: 0;
    top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    z-index: $zindex-fixed - 1;

    @include media-breakpoint-up(md) {
      margin-left: 20px;
      margin-bottom: 0;
      position: relative;
      top: auto;
      right: auto;
    }
  }
}
