.page-index {
  .navigation {
    @include interpolate(padding-left, md, xxl, 0, 200px);
  }

  .page__title {
    br {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.template-default .navigation {
  padding-left: 0;

  &__brand {
    margin-left: 0;
  }
}
