main {
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: stretch;
  overflow-x: hidden;
  will-change: opacity;
  transition: .3s opacity ease-in-out;

  &.loaded {
    opacity: 1 !important;
  }
}

.page-content {
  flex-grow: 1;
  padding: 0;
}
