:root {
  @include interpolate(--h1, sm, xxl, 32px, 60px);
  @include interpolate(--h2, sm, xxl, 26px, 42px);
  @include interpolate(--h3, sm, xxl, 24px, 36px);
  @include interpolate(--h4, sm, xxl, 22px, 30px);
  @include interpolate(--h5, sm, xxl, 18px, 22px);
  @include interpolate(--h6, sm, xxl, 14px, 16px);
  @include interpolate(--p, sm, xxl, 14px, 16px);
  @include interpolate(--subtitle, sm, xxl, 14px, 18px);
}

h1, .h1 {
  font-size: var(--h1);
}

h2, .h2 {
  font-size: var(--h2);
}

h3, .h3 {
  font-size: var(--h3);
}

h4, .h4 {
  font-size: var(--h4);
}

h5, .h5 {
  font-size: var(--h5);
}

h6, .h6 {
  font-size: var(--h6);
}

.subtitle {
  font-size: var(--subtitle);
}

p, .p {
  font-size: var(--p);
}

small {

}

mark {

}
