<form action="" autocomplete="on">
  <div class="select">
    <select name="expertise_1" id="expertise_1">
      <option value="0" selected disabled>Select expertise</option>
      <option value="0">Select expertise</option>
    </select>

    <span class="icon icon-angle-down-md"></span>
  </div>

  <div class="select">
    <select name="expertise_2" id="expertise_2">
      <option value="0" selected disabled>Select expertise</option>
      <option value="0">Select expertise</option>
    </select>

    <span class="icon icon-angle-down-md"></span>
  </div>

  <div class="select">
    <select name="expertise_3" id="expertise_3">
      <option value="0" selected disabled>Select expertise</option>
      <option value="0">Select expertise</option>
    </select>

    <span class="icon icon-angle-down-md"></span>
  </div>

  <div>
    <button type="submit" class="btn__submit">Generate</button>
  </div>
</form>
