<head>
  <meta charset="utf-8"/>
  <title>Skills</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <!-- You can use open graph tags to customize link previews.
      Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url" content="https://github.com/ykosinets/skills"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Skills"/>
  <meta
    property="og:description"
    content="Portfolio website"
  />
</head>
