<header class="page-header">
  <div class="d-flex align-items-center">
    <h4 class="page-title">Page Title</h4>

    <button class="toggle-sidebar-visibility-button ml-auto">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="list-unstyled ml-auto my-auto d-none d-md-flex flex-row">
      <li>
        <a href="overview.html"><span class="icon icon-dashboard"></span></a>
      </li>
      <li>
        <a href="profile.html"><span class="icon icon-user"></span></a>
      </li>
    </ul>
  </div>
</header>
