<div class="tags">
  <ul class="tags__list">
    <li class="tags__item tags__item--primary">
      Programming
      <span class="tags__item-type">Pro</span>
    </li>
    <li class="tags__item">
      UI/UX Design
      <span class="tags__item-type">Light</span>
    </li>
    <li class="tags__item">
      Copyrighting
      <span class="tags__item-type">Light</span>
    </li>
  </ul>

  <div class="tags__control">
    <a href="javascript:void(0)">
      <span class="icon icon-pencil"></span>
      <u>edit skill</u>
    </a>
  </div>
</div>
