<!DOCTYPE html>
<html lang="ru">

${require('../components/head.html').default}

<body class="page-index" style="opacity: 0">

<main>
  <div class="page-content">
    <div class="container">
      <div class="navigation-horizontal">
        <div class="brand">

        </div>

        <ul>
          <li>
            <a href="index.html">
              Home
            </a>
          </li>

          <li>
            <a href="skills.html">
              Skills
            </a>
          </li>

          <li>
            <a href="skills.html">
              Shared
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

</body>
</html>
