<!DOCTYPE html>
<html lang="ru">

${require('../components/head.html').default}

<body class="page-index" style="opacity: 0">
${require('../components/header/header-login.html').default}

<main class="container">
  <div class="content">
    <h1 class="page__title">
      In what area <br> are you an
      <mark>expert?</mark>
    </h1>

    <p class="page__subtitle">
      Choose 3 areas in which you are an expert, and people will be able to ask you any question
    </p>

    ${require('../components/form.html').default}
  </div>
</main>

${require('../components/footer.html').default}

</body>
</html>
