<!DOCTYPE html>
<html lang="ru">

${require('../components/head.html').default}

<body class="page-skills" style="opacity: 0">
<div class="background rounded"></div>
${require('../components/header/header.html').default}

<main class="container">
  ${require('../components/sidebar/sidebar.html').default}

  <div class="content">
    <h3 class="content__title">Jonathan</h3>

    ${require('../components/tags.html').default}

    ${require('../components/tabs.html').default}
  </div>
</main>

${require('../components/footer.html').default}

</body>
</html>
