<div class="sidebar__user">
  <div class="sidebar__user-avatar">
    <img src="${require('../../../images/avatar.jpg')}" alt="Jonathan">
    <h3 class="sidebar__user-name">Jonathan</h3>
  </div>

  <p class="sidebar__user-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem orci, tortor magna non amet lorem enim. Egestas urna
    pulvinar suspendisse in. Urna gravida eros, odio ac tristique nec. Amet sit neque, tempor, pulvinar sit. Eu sem
    nibh quisque eu in massa senectus. Mattis scelerisque cras.
  </p>

  <hr class="sidebar__user-divider">

  ${require('../tags.html').default}

  <hr class="sidebar__user-divider">

  <ul class="sidebar__user-links">
    <li>
      <a href="#">
        <span class="icon icon-linkedin"></span>
        /jonathan.mdoc
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon icon-facebook"></span>
        /jonathan.mdoc
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon icon-twitter"></span>
        /jonathan.mdoc
      </a>
    </li>
  </ul>
</div>
