/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-facebook: unicode(ea02);
$icon-angle-down-sm: unicode(ea03);
$icon-angle-down-md: unicode(ea04);
$icon-thumb: unicode(ea05);
$icon-pencil: unicode(ea06);
$icon-times: unicode(ea09);
$icon-linkedin: unicode(ea0a);
$icon-twitter: unicode(ea0b);

.icon-facebook::before {
  content: $icon-facebook;
}

.icon-angle-down-sm::before {
  content: $icon-angle-down-sm;
}

.icon-angle-down-md::before {
  content: $icon-angle-down-md;
}

.icon-thumb::before {
  content: $icon-thumb;
}

.icon-pencil::before {
  content: $icon-pencil;
}

.icon-times::before {
  content: $icon-times;
}

.icon-linkedin::before {
  content: $icon-linkedin;
}

.icon-twitter::before {
  content: $icon-twitter;
}

